.ind_post_display{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e1e8ed;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.post-text-container{
    width:100%
}
.post-img-container{
    width:100%
}
.post_img{
    max-width: 100%; /* Limits the image to the width of its container */
    height: auto;     
    max-height: 700px
}