.profile-container{
  margin-left: 20px;
  margin-right: 20px;
}

.grid-container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  column-gap: 50px;
}
.bio-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.picture-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.photo-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.address-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}