.header {
    border: 1px solid rgb(161, 161, 161);
    min-height: 70px;
    font-size: 24px;
}

.box {
    border: 1px solid rgb(161, 161, 161);
    min-height: 1500px;
    font-size: 24px;
}

.stuffModal{
    position: fixed;
    bottom: 5%;
    right: 10%;
    width: 50px;
    height: 50px;
}
