 .navbar-brand {
    width: 240px;
    height: 70px;
}

// .navbar {
//     height: 100px;
// }

.navbar .navbar-nav {
    display: flex;
    float: none;
    vertical-align: top;
    width: 100%;
    justify-content: space-around;
}

.navbar .navbar-collapse {
    text-align: center;
    height: 100%;
}

#navbarNavAltMarkup {
    transition: 0.3s;
}

.navbar .navbar-nav .nav-item {
    width: 100%;
    height: 100%;
}

.navbar .navbar-nav .nav-item:hover {
    background-color: rgb(230, 230, 230);
    transition: 0.3s; 
}