.stuffModal{
    position: fixed;
    bottom: 5%;
    left: 10%;
    width: 75px;
    height: 75px;
}

.otherStuffModal{
    position: fixed;
    bottom: 5%;
    right: 10%;
    width: 75px;
    height: 75px;
}
