#post_container {
    width: 40%;
    margin: auto;
    padding: 10px;
}
#post_button {
    width: 100%;
    background-color: #035096;
    color: white;
    text-decoration: none;
}
#upload_image {
    background-image: url(../../../public/images/rainbow.jpg);
    background-size: cover;
    margin-bottom: 20px;
    color: white;
}
#post_body {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
}
#add_tags {
    position: relative; 
    float: right;
    color: white;
    background-color: #035096;
}