#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

.loginContainer {
    min-width: 480px;
    background-color: white;
    box-shadow: 4px 4px 8px #888888cd;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border-radius: 6px;
  }

  .logo {
    margin-top: 10%;
    max-width: 180px;
  }

  .loginHeader {
    width: 100%;
    background-color: white;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(50, 50, 50, 0.9);
    text-align: center;
}

.loginSubtext {
  color: rgba(50, 50, 50, 0.5);
  font-weight: 600;
}

.loginForm {
  width: 80%;
  margin-top: 36px;
}

.loginInput {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: 0px solid;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
  margin-top: 12px;
  margin-bottom: 6px;
}

.loginButton {
  max-height: 40px;
  background-color: rgb(52, 100, 174);
  border: 0;
  border-radius: 8px;
  color: rgb(24, 24, 24);
  margin-top: 12px;
  color: white;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.loginButton:Hover {
  background-color: rgb(29, 73, 139);
}

.space {
  padding: 16px;
}