.modal_open{
    width: 30px; /* Set the width of the button as needed */
    height: 30px; /* Set the height of the button as needed */
    border: none; /* Remove the button border */
    cursor: pointer; /* Add a pointer cursor on hover */
}