#user-profile-page-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: auto ; /* Adjust the height as needed */
    background-color: #f0f0f0; /* Set a background color if desired */
}
//============================================================================================================================================================
//=========================================================== profile info container styles ========================================================================
//============================================================================================================================================================
#profile-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    height: 25%; 
}
#profile-info-containter {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width:60%
}
#user-profile-image-containter{
    margin: 20px;
}
#user-profile-name-containter{
    margin-top: 10px;
}
#profile_pic {
    width: 100px;
    height: 100px;
    border-radius: 50% ;
}
#add-friend-container {
    justify-content: center;
    width:20%;
}
.add-friend-btn{
    margin-top: 25%;
    background-color: #035096;
    background-image: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width:100%
}
.remove-friend-btn{
    margin-top: 25%;
    background-color: #fff;
    background-image: none;
    border-radius: 8px;
    border-color: skyblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width:100%
}
//============================================================================================================================================================
//=========================================================== bottom container styles ========================================================================
//============================================================================================================================================================
#bottom_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#team-container{
    display: flex;
    align-self: first baseline;
    width:30%;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#post-container{
    width:70%
}