#card {
    background-color: rgb(221, 71, 71, 0.7);
    width: 12rem;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    margin: 2px;
    padding: 2px;
    //background-image: url(../../images/pokeball.png);
}

#level {
    font-size: 14px;
    display: inline-block;
    text-align: right;
}

#sprite-wrapper {
    display: flex;
    margin-left: auto;
}

#sprite {
    
    width: 67px;
    height: 67px
}